.navigation-manager {
}

.navigation-tree .x-grid-body {
  background-color: #fff;
}

.hidden-in-navigation .x-tree-node-text {
  color: #828282;
}

.hidden-in-navigation .x-tree-icon {
  color: #828282;
}
